@charset "utf-8";

* html .clearfix, * html .FormItem, * html .CheckWrap, * html .Checks, * html #LoginForm, * html #PageHeader, * html .ProductList, * html .ProductList li, * html #CheckoutHeader, * html #Header { height: 1%; overflow: visible; }

* html body.adminLoggedIn #adminTools { position: relative; }
* html body.adminLoggedIn { padding: 0; }

* html #AjaxMsg { position: absolute; }

#SearchForm { zoom: 1; width: 310px !important; }
#SearchForm input { width: 240px; float: left; }
#LiveSearchResults { zoom: 1; }

#Footer .FooterBanner > img, #Footer .FooterBanner img {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

/* Bugs in forms */

input, select { line-height: 15px; }
select { margin-bottom: -3px; }
* html input, * html select { height: 15px; }
textarea { margin-top: 5px; top: -7px; line-height: 18px; padding: 1px 2px; }
* html button { padding: 0; }
* html .FormSubmit .SubmitButton { padding: 0; height: 43px; }
.GroupItem div label, .GroupItem div input, .GroupItem div select { float: left; clear: left; }
.GroupHelp { float: left; }

* html #SelectShippingMethod .ShippingMethodWrapper .DefineShippingMethod { width: 90%; overflow: hidden; }
* html .Checks .FormHelp { position: relative; left: 4px; }
.ShippingMethodWithLogo .FormHelp { position: relative; left: -15px; width: 90%; clear: none; float: left; margin: 0; padding: 0; }

/* Layout */

* html #Container {	height: 100%; overflow: visible; }
#SearchForm { width: 279px; }
* html #BodyID-Checkout #CheckOutHeader #CheckoutStage li { top: 1px; }

* html .Column, * html .Product, * html #ProductImages, * html #ProductBuy, * html #ProductThumbnails li a { display: inline; }
* html .ProductList li { height: 36px; overflow: visible; }
.Product, .ProductList .Product { min-height: 288px; }
* html .Product, * html .ProductList .Product { height: 288px; overflow: visible; }

* html #PrimaryFeatures, * html #SecondaryFeatures { height: 18px; overflow: visible; display: inline; }
#SecondaryFeatures, #Secondary { right: -1px; }

#Secondary .CartProduct dl dd.CartProductQuantity,
#Secondary .CartProduct dl dd.CartProductTotal { white-space: normal; }

.BoxHeader { zoom: 1; }

/* Nav hacks */

#MainNavigation ul.Categories li a, #MainNavigation ul.Categories li, #MainNavigation ul.Categories li ul, .ProductList li  { zoom: 1; }

* html #MainNavigation li.Current a { font-weight: bold; }
* html #MainNavigation li.Current li a { font-weight: normal; }
* html #MainNavigation li.Current li.Current a { font-weight: bold; }
* html #MainNavigation li.Current li.Current li a { font-weight: normal; }
* html #MainNavigation li.Current li.Current li.Current a { font-weight: bold; }
* html #MainNavigation li.Current li.Current li.Current li a { font-weight: normal; }
* html #MainNavigation li.Current li.Current li.Current li.Current a { font-weight: bold; }
* html #MainNavigation li.Current li.Current li.Current li.Current li a { font-weight: normal; }

* html #MainNavigation ul ul { display: none; }
* html #MainNavigation ul li.Current ul { display: block; }
* html #MainNavigation ul li.Current ul ul { display: none; }
* html #MainNavigation ul ul li.Current ul { display: block; }
* html #MainNavigation ul ul li.Current ul ul { display: none; }
* html #MainNavigation ul ul ul li.Current ul { display: block; }
* html #MainNavigation ul ul ul li.Current ul ul { display: none; }
* html #MainNavigation ul ul ul ul li.Current ul { display: block; }
* html #MainNavigation ul ul ul ul li.Current ul ul { display: none; }

/* TB-hacks */

* html #TB_overlay { position: absolute; height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); }
* html #TB_window { position: absolute; margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); }
* html #TB_load { position: absolute; margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); }
* html #TB_HideSelect { position: absolute; height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); }
