#KlarnaCheckoutWrapper {
	width: 750px;
	margin: 36px auto 18px;
	padding: 0;
}

#KlarnaThanksHeader {
	background: #FAFAFA;
	border-bottom: 1px solid #d9d9d9;
	margin: 0 -15px;
	padding: 18px 129px 9px;
}
#KlarnaThanksHeader #DisplayCheckoutForm {
	float: left;
}
#KlarnaThanksHeader .Button {
	margin-top: 2px;
	margin-right: 3px;
	margin-bottom: 9px;
}
#KlarnaThanksHeader button { display: none; }
#KlarnaThanksHeader .Checks,
#KlarnaThanksHeader .CheckWrap {
	margin: 0; padding: 0;
	width: auto; float: left;
}
#KlarnaThanksHeader label {
	clear: none;
	float: left;
	width: auto;
	margin: 0 3px 10px 0;
	padding: 8px 9px;
	border: 1px solid #D9D9D9;
	border-bottom-color: #CCCCCC;
	background-color: #E8E8E8;
	background-repeat: repeat-x;
	background-image: -o-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -moz-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -webkit-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -ms-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(1, #E8E8E8));
	background-image: linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	-webkit-box-shadow: inset 0 1px 0 #FFF;
	-moz-box-shadow: inset 0 1px 0 #FFF;
	box-shadow: inset 0 1px 0 #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.8);
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#KlarnaThanksHeader label .tinyloader {
	display: none;
	float: left;
	width: 16px; height: 16px;
	margin-right: 5px;
	background: url("../i/tiny-loader.gif") no-repeat left bottom;
}
#KlarnaThanksHeader label input {
	top: 2px;
	margin-right: 3px;
	margin-left: 0;
}
#KlarnaThanksHeader label.loading .tinyloader { display: block; }
#KlarnaThanksHeader label.loading input { display: none; }

* + #KlarnaCheckoutWrapper { margin-top: 0; }
#KlarnaCheckoutWrapper h2 { clear: both; }
#KlarnaCheckoutWrapper h2 + p {
	margin-top: -18px;
}
#KlarnaCheckoutWrapper .CartProduct h3 {
	margin-bottom: 0;
}
#KlarnaCheckoutWrapper table tfoot th { text-align: right; }
#KlarnaCheckoutWrapper h2 {
	font-size: 26px; font-weight: normal;
}
#KlarnaCheckoutShippingInformation {
	position: relative;
	margin-left: -36px;
	padding-left: 36px;
}
#SelectOtherPaymentMethodTab .FormSubmit {
	padding: 0 0 18px;
}
#KlarnaOtherPaymentMethods {
	position: relative;
	list-style: none outside;
	width: 100%;
	margin: 0 -9px 18px; padding: 0 9px;
}
#KlarnaCheckout { position: relative; }
.KlarnaStages {
	float: left;
	margin-left: -36px;
	width: 36px;
}
#KlarnaOtherPaymentMethods:before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #d9d9d9;
	position: absolute;
	bottom: 0px; left: 0px;
	padding: 0;
	z-index: 1;
}
#KlarnaOtherPaymentMethods li {
	position: relative; z-index: 2;
	float: left; width: auto;
	border: 1px solid #d9d9d9;
	margin-right: 5px;
	padding: 0;
	border-radius: 5px 5px 0 0;
}
#KlarnaOtherPaymentMethods li.Current {
	border-bottom-color: #fff;
}
#KlarnaOtherPaymentMethods li a {
	display: block;
	padding: 8px 15px;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
#KlarnaOtherPaymentMethods li.Current a {
	color: #444;
	cursor: default;
}
#klarna-checkout-container {
	width: 750px;
	margin: 0 -6px;
}

.PaymentTab { display: none; position: relative; }
#KlarnaCheckoutTab { display: block; }

#KlarnaCheckoutWrapper #SubmitCampaignCode {
	float: right;
	margin-top: 0;
}
#CommentFieldReveal, #SubmitOrderComment {
	float: left;
	margin-right: 10px;
}
#CommentFieldReveal a {
	color: #666;
	display: block;
	margin: 0 0 18px;
}
#SubmitOrderComment {
	
}
#SubmitOrderComment label {
	margin-right: 0;
	padding-right: 0;
}
#SubmitOrderComment textarea {
	margin-right: 0;
}
#SubmitOrderCommentButton {
	clear: both;
}

@media screen and (max-width: 768px) {
	#klarna-checkout-container,
	#KlarnaCheckoutWrapper {
		width: auto;
	}
	.KlarnaStages {
		display: none;
	}
	#KlarnaOtherPaymentMethods li a {
		font-size: 12px;
		padding: 8px;
	}
}
