/* -------------------------------------------------------------- 
   Master.css  
-------------------------------------------------------------- */

@import "reset.css";
@import "base.css";
@import "forms.css";
@import "colorbox.css";

/* Layout base
-------------------------------------------------------------- */

html, body { height: 100%; }
html { overflow-y: scroll; }
body { text-align: center; background: #f8f8f8; }

/* Add these lines if you want your AdminTools to be fixed on the top of the page */
body.AdminLoggedIn { padding: 36px 0 0; }
body.AdminLoggedIn #AdminTools { position: fixed; z-index: 2; top: 0px; left: 0px; }
body.AdminLoggedIn #Container { z-index: 1; }

#AjaxMsg {
	font-size: 14px;
	position: fixed; z-index: 999; display: none; text-align: center;
	top: 0px; left: 50%; width: 360px; margin: 0 -189px; padding: 13px 18px;
	background: #FFC; border: 1px solid #e5e58a; border-top: 0;
  -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius:  3px;
	border-bottom-left-radius:  3px; -moz-border-radius-bottomright:  3px;
	-webkit-border-bottom-right-radius:  3px; border-bottom-right-radius:  3px;
}
#AjaxMsg a { font-weight: bold; }
body.adminLoggedIn #AjaxMsg { top: 36px; }


/* Layout
-------------------------------------------------------------- */

#Container {
	position: relative; margin: 0 auto; min-height: 100%;
	width: 960px; padding: 0; text-align: left;
	border-left: 1px solid #D9D9D9; border-right: 1px solid #D9D9D9;
	background: #FFFFFF;
}
#SidebarBg {
	background: #FAFAFA; /* Sidepanel bg */
}
#Main {
	position: relative; overflow: visible; z-index: 1;
	width: 576px; margin: 0 191px; padding: 0; background: #FFFFFF; /* Main-bg */
	border-left: 1px solid #D9D9D9; border-right: 1px solid #D9D9D9;
}
.OmitRightSidebar #Main {
	width: 768px;
	margin-right: 0;
	border-right: 0;
}
.Column {
	position: relative;
	float: left; overflow: hidden;
	width: 191px; padding: 0;
}
#MainNavigation {
	margin-left: -192px;
	min-height: 18px;
}
#Secondary {
	float: right;
	margin-right: -192px;
	min-height: 18px;
}
#Primary {
	width: 576px;
}
.OmitRightSidebar #Primary {
	width: 768px;
}

/* Header
-------------------------------------------------------------- */

#Header {
	position: relative; width: 960px;
	background: #FFFFFF; border-bottom: 1px solid #D9D9D9;
	padding-bottom: 9px; z-index: 99;
}
.LogoLink { float: left; margin: 9px 6px 0; padding: 9px; /* border: 1px solid #D9D9D9; background: #FFF; */ }
.LogoLink img { display: block; margin: 0; padding: 0; }
.NoLogoImage { font-size: 32px; line-height: 72px; text-decoration: none; }

#Header .NavigationList {
	position: relative; float: right;
	margin: 0 6px 63px 0; list-style: none outside;
}
#Header .CustomerNavigation  { margin-left: 6px; }
#Header .NavigationList li { position: relative; float: left; margin: 0 0 0 3px; }
#Header .NavigationList li a {
	position: relative; float: left; width: auto;
	padding: 9px 8px 8px; margin: -1px 0 0;
	font-size: 11px; font-weight: bold;
	white-space: nowrap; text-decoration: none;
  background-color: #E8E8E8;
  background-repeat: repeat-x;
	background-image: -o-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -moz-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -webkit-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -ms-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(1, #E8E8E8));
	background-image: linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.66);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.66);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.8);
  border: 1px solid #D9D9D9;
  border-bottom-color: #CCC;
  -moz-border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#Header .NavigationList li a:hover {
	background-image: -o-linear-gradient(top, #FFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(top, #FFF 0%, #F2F2F2 100%);
	background-image: -webkit-linear-gradient(top, #FFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(top, #FFF 0%, #F2F2F2 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #F2F2F2));
	background-image: linear-gradient(top, #FFF 0%, #F2F2F2 100%);
	border-bottom-color: #BBB;
}

/* Version switch */

#VersionSwitcher {
}

/* Search */
#SearchForm {
	position: absolute; right: 6px; bottom: 9px;
	padding: 8px; height: 18px; z-index: 99;
	background: #F8F8F8; border: 1px solid #D9D9D9;
}
#SearchForm .FormItem { border: 0; padding: 0; background: none; }
#SearchForm label { display: none; }
#SearchForm input { width: 240px; float: left; }
#SearchForm button { margin-right: 0; }

#LiveSearchResults {
	display: block; margin: 0; list-style: none outside;
	position: absolute; top: 35px; left: -1px;
	z-index: 100; background: #F8F8F8; padding: 0 9px;
}
#LiveSearchResults li {
	width: 100%;
	padding: 9px 8px 8px; margin: 0 -9px;
	border: 1px solid #D9D9D9; border-top: 0;
}
.SearchIndicator {
	display: none; position: absolute;
	top: 0px; left: 226px;
	padding: 1px; width: 16px; height: 16px;
	background: url(../i/search-load.gif) no-repeat 50% 50%;
}
.CloseSearchResults { background-image: url(../i/search-close.gif); cursor: pointer; }

/* Same Form @ Content area */

#ContentSearch #SearchForm { position: relative; right: auto; bottom: auto; float: none; width: auto; margin: 0 0 18px; }
#ContentSearch #SearchForm input { width: 62%; font-size: 14px; padding: 2px; }

/* Footer */

#Footer {
	position: relative; margin: -1px 0 0;
	padding: 0; text-align: center;
	border-top: 1px solid #D9D9D9; z-index: 2;
}
#Footer .BrandsNavigation {
	width: 954px; overflow: hidden;
	margin: 0; padding: 9px 3px 0;
	list-style: none outside;
	text-align: center; font-size: 0px;
	word-spacing: -1em;
	border-bottom: 1px solid #CCCCCC;
  background-color: #E8E8E8;
  background-repeat: repeat-x;
	background-image: -o-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -moz-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -webkit-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -ms-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(1, #E8E8E8));
	background-image: linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
  -webkit-box-shadow: inset 0 1px 0 #FFF;
  -moz-box-shadow: inset 0 1px 0 #FFF;
  box-shadow: inset 0 1px 0 #FFF;
}
#Footer .BrandsNavigation li {
	margin: 0 0 9px;
	font-size: 14px; word-spacing: normal;
	font-weight: bold;
	vertical-align: middle;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
#Footer .BrandsNavigation li a {
	display: block; border: 1px solid #d9d9d9;
	border-color: #CCCCCC #d9d9d9 #e2e2e2;
	margin: 6px; padding: 8px; color: #888;
	text-decoration: none; background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
#Footer .BrandsNavigation li a img { display: block; margin: 0; padding: 0; }
#Footer .BrandsNavigation li a:hover {
	border-color: #09f; color: #069;
  -webkit-box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
}

#Copyrights { clear: both; width: 960px; margin: 0; padding: 18px 0; }

/* Content masthead
-------------------------------------------------------------- */

#PageHeader {
	padding: 8px 15px 9px; margin: 0;
	border-top: 1px solid #FFFFFF;
  background-color: #FFF;
  background-repeat: repeat-x;
	background-image: -o-linear-gradient(top, #F8F8F8 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #F8F8F8 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top, #F8F8F8 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(top, #F8F8F8 0%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F8F8F8), color-stop(1, #FFFFFF));
	background-image: linear-gradient(top, #F8F8F8 0%, #FFFFFF 100%);
}

.Breadcrumb {
	margin: 0; padding: 0;
	line-height: 18px; font-size: 11px;
	border: 0;
}
.Breadcrumb ul,
.Breadcrumb li {
	display: inline; line-height: 18px;
	margin: 0; padding: 0; border: 0;
}
.Breadcrumb li a {
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}

#PageHeader h1 {
	line-height: 36px; font-size: 32px;
	margin: 0; padding: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}
#PageHeader h1 + * { margin-top: 18px; }

.CategoryDescription { padding: 9px 15px 0; }

#ShopLikes {
	margin: 0 15px;
}

/* Left Column
-------------------------------------------------------------- */

#MainNavigation ul.Categories, #MainNavigation ul.Categories ul { position: relative; margin: 0; padding: 0; list-style: none outside; }
#MainNavigation ul.Categories li { position: relative; border-bottom: 1px solid #D9D9D9; background: #F8F8F8; }
#MainNavigation ul.Categories li a {
	position: relative; display: block; padding: 8px 15px 9px;
	font-size: 15px; font-weight: bold; line-height: 18px; text-decoration: none;
}
#MainNavigation ul.Categories li ul { padding: 0 15px 9px 36px; }
#MainNavigation ul.Categories li ul li { border: 0; }
#MainNavigation ul.Categories li ul li a {
	font-size: 12px; font-weight: normal;
	line-height: 18px; padding: 0;
	background: none; border: 0;
}
#MainNavigation ul.Categories li ul li ul { padding: 0 0 0 18px; border: 0; }

/* Categoryopeners */

#MainNavigation ul.Categories li.Openable a { margin-left: 35px; padding-left: 0; }
#MainNavigation ul.Categories li.Openable ul li a { margin: 0; padding: 0; }
#MainNavigation ul.Categories li span.NavOpener {
	position: absolute; display: block; margin: 0;
	top: 6px; left: 6px; width: 21px; height: 21px;
	line-height: 21px; text-align: center; font-weight: bold;
	background: #FFF url(../i/arrows.png) no-repeat -1px -1px;
	overflow: hidden; text-indent: -1000em;
	border: 1px solid #D9D9D9;
	border-bottom-color: #CCCCCC;
	border-top-color: #F2F2F2
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; border-radius: 3px;
}
#MainNavigation ul.Categories li span.NavOpener:hover {
	background-color: #069; color: #FFF;
	border-color: #057;
	cursor: pointer; background-position: -1px -24px;
}
#MainNavigation ul.Categories li span.Opened { background-position: -23px -2px; }
#MainNavigation ul.Categories li span.Opened:hover { background-position: -23px -25px; border-color: #057; }
#MainNavigation ul.Categories li ul li span.NavOpener { top: 1px; left: -24px; width: 15px; height: 15px; line-height: 15px; background-position: -4px -4px; }
#MainNavigation ul.Categories li ul li span.NavOpener:hover { background-position: -4px -27px; }
#MainNavigation ul.Categories li ul li span.Opened { background-position: -26px -5px; }
#MainNavigation ul.Categories li ul li span.Opened:hover { background-position: -26px -28px; }
#MainNavigation ul.Categories li ul li ul li span.NavOpener { top: 2px; left: -18px; width: 13px; height: 13px; line-height: 13px; background-position: -5px -5px; }
#MainNavigation ul.Categories li ul li ul li span.NavOpener:hover { background-position: -5px -28px; }
#MainNavigation ul.Categories li ul li ul li span.Opened {  background-position: -27px -6px; }
#MainNavigation ul.Categories li ul li ul li span.Opened:hover { background-position: -27px -29px; }

/* Info & News navigation */

#MainNavigation ul.InfoNavigation, #MainNavigation ul.NewsList {
	margin: 0; padding: 9px 15px 8px 15px;
	border-bottom: 1px solid #D9D9D9; list-style: none outside;
}
#MainNavigation ul.InfoNavigation li, #MainNavigation ul.NewsList li {}
#MainNavigation ul.InfoNavigation li a, #MainNavigation ul.NewsList li a { text-decoration: none; }
#MainNavigation ul.InfoNavigation li ul, #MainNavigation ul.NewsList li ul { padding: 0; border: 0; margin-left: 21px; list-style: none outside; }

/* Current page & subcategories */

#MainNavigation ul.Categories > li.Current > a { color: #246; text-decoration: none; cursor: default; }
#MainNavigation li.Current > a { font-weight: bold !important; color: #058; text-decoration: none; cursor: default; }
#MainNavigation ul ul { display: none; }
#MainNavigation ul li.Current > ul { display: block; }

/* Right Column
-------------------------------------------------------------- */

#Secondary .EmptyCart {
	padding: 8px 15px 9px; margin: 0;
	border-bottom: 1px solid #D9D9D9;
}
#Secondary .CartProduct {
	float: none; display: block;
	margin: 0; width: auto; height: auto;
	padding: 8px 15px 9px; border: 0;
	border-bottom: 1px dotted #D9D9D9;
	font-size: 11px;
}
#Secondary .CartProduct .ProductName { font-size: 11px; padding: 0; margin: 0; }
#Secondary .CartProduct .VariationName { display: none; }
#Secondary .CartProduct dl { margin: 0; padding: 0; }
#Secondary .CartProduct dl dt { margin-right: 2px; }
#Secondary .CartProduct dl dd { margin-right: 6px; }
#Secondary .CartProduct dl dd.CartProductQuantity,
#Secondary .CartProduct dl dd.CartProductTotal { white-space: nowrap; }
#Secondary .CartProduct dl dd.CartProductRemove a { color: #888; }

#Secondary dl.CartProceed { margin: 0; padding: 0; border: 0; }
#Secondary dt.SubTotal, #Secondary dd.SubTotal { padding: 0 15px; margin: 0; line-height: 35px; }
#Secondary dd.SubTotal { font-size: 15px; font-weight: bold; padding-left: 0; margin-left: -10px; }
#Secondary dd.ToShoppingCart, #Secondary dd.ToCheckout { margin: 0; padding: 0; display: block; }
#Secondary dd.ToShoppingCart a, #Secondary dd.ToCheckout a {
	position: relative;
	display: block; padding: 8px 15px 9px;
	margin: -1px 0 0; text-decoration: none;
	background: #F8F8F8; border-top: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
}
#Secondary .ToShoppingCart a { font-weight: normal; }
#Secondary .ToCheckout a { font-size: 15px; font-weight: bold; }

/* Productlist
-------------------------------------------------------------- */

.Pagination {
	margin: 0 6px; clear: both; padding: 8px; font-size: 11px;
	background: #F8F8F8; border: 1px solid #D9D9D9; 
}
.PaginationAfter { margin: 9px 6px; }
.ShowingItems { font-size: 11px; float: left; margin-bottom: 0; }

.SortForm { font-size: 11px; float: right; }
.SortForm .FormItem { width: auto; clear: none; font-size: 11px; padding-bottom: 0; }
.SortForm .FormItem label { width: auto; padding-right: 10px; font-size: 11px; }
.SortForm .FormItem select { font-size: 11px; }
.SortForm .FormItem button { display: none; }

.PageNavigation {
	position: relative; text-align: center;
	list-style: none outside; margin: 0; padding: 0;
}
.PageNavigation li { list-style: none outside; margin: 0; padding: 0; display: inline; line-height: 18px; }
.PageNavigation li { margin: 0 2px; font-weight: bold; }
.PageNavigation li.CurrentPage { background: #F8F8F8; border: 1px solid #D9D9D9; padding: 4px 8px; }
.PageNavigation li a { line-height: 18px; padding: 5px; }

.Product {
	position: relative; float: left;
	width: 162px; margin: 0 6px; padding: 9px 9px 27px;
}
.first { clear: left; }
.last {}

.Product .ProductImage {
	display: block; position: relative;
	margin: 0 -9px; padding: 8px;
	height: 162px; width: 162px;
	text-align: center; line-height: 160px;
	background: #FFF;
	border: 1px solid #d9d9d9;
	border-bottom: 1px solid #cccccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;

}
.Product .ProductImage img {
	display: inline;
	margin: 0 auto;
	vertical-align: middle;
}
.Product .ProductImage:hover {
	border-color: #09f;
  -webkit-box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
}

.Product h2 {
	font-size: 12px;
	margin: 0; padding: 9px 0 0;
}
.Product .Prices { padding: 0 0 9px; margin: 0; }

.Product a:link, .Product a:visited { text-decoration: none; }
.Product a:active, .Product a:hover { text-decoration: underline; }

/* .Categories, .SubCategories, .BrandsNavigation
-------------------------------------------------------------- */

#Primary .NavigationList,
#Primary .NavigationList li {
	margin: 0; padding: 0;
	list-style: none outside;
	font-size: 11px;
}
#Primary .NavigationList li {
	margin: 0; padding: 0;
	border-bottom: 1px dotted #D9D9D9;
}
#Primary .NavigationList li a {
	display: block; padding: 8px 15px 9px;
	text-decoration: none;
}
#Primary .NavigationList li a:hover {
	text-decoration: underline;
}

/* Small Productlists
-------------------------------------------------------------- */

ul.ProductList, ol.ProductList, .ProductList li {
	position: relative; margin: 0; padding: 0;
	list-style: none outside;
}
ul.ProductList, ol.ProductList { margin: 0; font-weight: bold; }

.ProductList li, #side-features .ProductList li {
	border-bottom: 1px dotted #D9D9D9;
}
.ProductList li a {
	display: block;
	min-height: 35px;
	padding: 5px 15px 12px;
	text-decoration: none;
}
.ProductList li h3 {
	margin: 0; padding: 0 0 0 36px;
	font-size: 11px; color: #069;
	font-weight: normal;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.ProductList li a:hover h3 {
	color: #09f;
}
.ProductList li .ListImage {
	position: absolute; display: block;
	top: 9px; left: 9px; text-align: center;
	width: 34px; height: 34px; line-height: 32px;
	background: #FFF;
	border: 1px solid #d9d9d9;
	border-bottom: 1px solid #cccccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.ProductList li .ListImage img {
	display: inline;
	margin: 0 auto;
	vertical-align: middle;
}
.ProductList li a:hover .ListImage {
	border-color: #09f;
  -webkit-box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
}

/* Product
-------------------------------------------------------------- */

#ProductAddedNotification { margin: 9px 6px 0; display: none; }
#ProductAddedNotification p { font-size: 12px; margin-bottom: 9px; }
#ProductAddedNotification p+p { margin-bottom: 0; font-size: 15px; }

#ProductLikes {
	width: 276px;
	margin: 9px -9px;
}

#ProductImages, #ProductBuy {
	position: relative; float: left;
	width: 258px; margin: 0; padding: 9px 15px;
}

#ProductShortDesc { font-size: 15px; }
#ProductFullDesc { clear: both; margin: 0 6px; padding: 0 9px; }

#CurrentProductImage {
	width: 258px; height: 258px; line-height: 256px;
	position: relative; display: block; overflow: hidden;
	text-align: center; text-decoration: none;
	margin: 0 -9px 10px; padding: 8px;
	border: 1px solid #d9d9d9;
	border-bottom: 1px solid #cccccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
#CurrentProductImage:hover {
	border-color: #09f;
  -webkit-box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
}
#CurrentProductImage img {
	display: inline;
	vertical-align: middle; 
	margin: 0 auto;
}
#ImgLoader {
	position: absolute; display: block; top: 0px; left: 0px;
	width: 100%; height: 100%; margin: 0px;
	background: #FFF url(../i/tb-load.gif) no-repeat 50% 50%;
	overflow: hidden; text-indent: -10000em;
}
#ProductImageCaption {
	margin: -5px 0 5px; padding: 0;
	text-align: center; font-size: 11px;
}
#ProductThumbnails {
	width: 280px; position: relative;
	overflow: hidden; height: auto;
	margin: 0 -13px 0 -9px;
	list-style: none outside;
}
#ProductThumbnails li { position: relative; float: left; }
#ProductThumbnails li a {
	position: relative; display: block; float: left;
	width: 34px; height: 34px; line-height: 32px;  text-align: center;
	padding: 8px; margin: 0 4px 2px 0;
	border: 1px solid #d9d9d9;
	border-bottom: 1px solid #cccccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;

}
#ProductThumbnails li a:hover {
	border-color: #09f;
  -webkit-box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
}
#ProductThumbnails li a img {
	vertical-align: middle;
	display: inline;
	margin: 0 auto;
}
#ProductBuy .Prices {
	font-size: 15px; width: 100%;
	margin-bottom: 18px;
	position: relative;
	overflow: hidden;
}
#ProductBuy dl { width: 100%; overflow: hidden; margin: 0 0 18px; padding: 0; }
#ProductBuy dt, #ProductBuy dd {
	position: relative; float: left;
	width: auto; margin: 0; padding: 0;
}
#ProductBuy dt { width: 108px; font-size: 12px; font-weight: normal; }
#ProductBuy dd { width: 150px; }

#ProductBuy .Availability {}
#ProductBuy .Availability .DeliveryTime { margin-left: 108px; color: #c00; }

#ProductBuy .BuyForm fieldset {
	clear: left; position: relative;
	margin: 0 -9px 18px; padding: 8px;
	border: 1px solid #D9D9D9; background-color: #FCFCFC;
}

#ProductBuy .BuyForm .FormItem {
	padding-top: 9px; margin-bottom: -9px;
}
#ProductBuy .BuyForm .HeaderItem {
	position: relative; width: 100%; clear: both;
	margin: 8px -8px 9px; padding: 8px 8px 9px;
	border-bottom: 1px solid #CCCCCC; border-top: 1px solid #D9D9D9;
  background-color: #E8E8E8;
  background-repeat: repeat-x;
	background-image: -o-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -moz-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -webkit-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -ms-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(1, #E8E8E8));
	background-image: linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
  -webkit-box-shadow: inset 0 1px 0 #FFF;
  -moz-box-shadow: inset 0 1px 0 #FFF;
  box-shadow: inset 0 1px 0 #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.8);
  cursor: default;
}
/* If first one is header, pull it to top */
#ProductBuy .BuyForm .HiddenInput + .HeaderItem {
	margin-top: -9px;
}
#ProductBuy .BuyForm .HeaderItem h3 {
}
#ProductBuy .BuyForm .FormItem > label,
#ProductBuy .BuyForm .FormItem > p.label {
	font-weight: bold; color: #666;
}
#ProductBuy .BuyForm .FormItem .FormHelp {
	font-size: 11px;
}

#ProductBuy .BuyForm .FormSubmit {
	margin: 8px -8px -8px; padding: 17px 8px 18px; width: 100%;
	background: #F2F2F2; border-top: 1px solid #D9D9D9;
}
.BuyForm .FormSubmit button { margin-left: 0; }

/* Scroller styles for crosssales */

#CrossSaleScroller { position: relative; width: 100%; height: 360px; overflow: auto; }
#CrossSaleProducts { position: relative; width: auto; height: 360px; overflow: visible; }
#CrossSaleProducts .Product { padding-left: 15px; padding-right: 15px; margin: 0; }

#ScrollToPrev, #ScrollToNext {
	cursor: pointer; position: relative; z-index: 3; float: left; margin-top: -36px; padding: 9px 9px 9px 36px;
	color: #069; text-decoration: underline; font-size: 11px; font-weight: bold; text-decoration: none;
}
#ScrollToNext { float: right; padding: 9px 36px 9px 9px; }
#ScrollToPrev:hover, #ScrollToNext:hover { color: #09F; }

#ScrollToPrev span.Icon, #ScrollToNext span.Icon,
#PrevBanner .Icon, #NextBanner .Icon {
	position: absolute; display: block; margin: 0;
	top: 6px; width: 21px; height: 21px;
	line-height: 21px; text-align: center; font-weight: bold;
	background: #FFF url(../i/arrows.png) no-repeat -1px -47px;
	overflow: hidden; text-indent: -1000em;
	border: 1px solid #D9D9D9; -moz-border-radius: 2px;
	-webkit-border-radius: 2px; border-radius: 2px;
}
#ScrollToPrev span.Icon, #PrevBanner .Icon { left: 6px; background-position: -47px -47px; }
#ScrollToNext span.Icon, #NextBanner .Icon { right: 6px; }
#ScrollToPrev:hover span.Icon, #ScrollToNext:hover span.Icon,
#PrevBanner:hover .Icon, #NextBanner:hover .Icon {
	background-color: #069; color: #FFF;
	border-color: #057; background-position: -1px -24px;
}
#ScrollToPrev:hover span.Icon, #PrevBanner:hover .Icon { background-position: -47px -24px; }

/* Category Frontpage
-------------------------------------------------------------- */

#BannerScroller { position: relative; width: 576px; overflow: hidden; }
#ScrollableBanners { position: relative; width: 9999em; }
.FrontBanner { position: relative; width: 576px; float: left; }
.FrontBanner img { position: relative; display: block; float: left; margin: 0; padding: 0; width: 576px; }
.BannerInfo {
	position: absolute; bottom: 0px; left: 0px; right: 0px;
	padding: 9px 15px 0; background: #000; opacity: 0.85; color: #FFF;
}
.BannerInfo h3 { margin: 0 0 9px; padding: 0; }
.BannerInfo h3, .BannerInfo a { color: #FFF; }
.BannerInfo h3 + p { margin-top: -9px; }
.BannerInfo p { margin-bottom: 9px; }

#PrevBanner, #NextBanner {
	display: none;
	position: absolute; top: 0px;
	padding: 8px 15px 9px; margin: 0;
	text-decoration: none;
	border-bottom: 1px solid #d9d9d9;
	background: #FFF; z-index: 999;
}
#PrevBanner {
	padding-left: 36px;
	left: 0px; border-right: 1px solid #d9d9d9;
	-moz-border-radius-bottomright: 5px;
	-webkit-bottom-right-border-radius: 5px;
	border-bottom-right-radius: 5px;
}
#NextBanner {
	padding-right: 36px;
	right: 0px; border-left: 1px solid #d9d9d9;
	-moz-border-radius-bottomleft: 5px;
	-webkit-bottom-left-border-radius: 5px;
	border-bottom-left-radius: 5px;
}
#PrevBanner .Icon, #NextBanner .Icon {
	background-position: -1px -1px;
}
#NextBanner:hover .Icon { background-position: -1px -24px; }
#PrevBanner:hover .Icon { background-position: -47px -24px; }

.CategoryImage, .BrandImage {
	display: block; margin: 0;
	border-bottom: 1px solid #D9D9D9;
}
#LandingPageWrapper {
	position: relative; overflow: visible;
	width: 384px; margin: 0 191px 0 0;
	border-right: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
}
#PrimaryFeatures {
	position: relative; float: left;
	width: 384px; min-height: 18px;
}
#SecondaryFeatures {
	position: relative; float: right;
	width: 191px; min-height: 18px;
	margin-right: -192px;
}
#BrandLogo { text-align: center; }
#BrandLogo { display: block; margin: 18px auto; padding: 0; }

/* Infopages & News
-------------------------------------------------------------- */

/* Subnavigation */

#SubPageNavigation {
	float: right; margin: 0 -9px 0 21px;
	width: 178px; padding: 0;
	border: 1px solid #D9D9D9;
	background: #FCFCFC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#SubPageNavigation h3 {
	width: auto;
	-moz-border-radius-topleft: 5px;
	-webkit-top-left-border-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-top-right-border-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0; padding: 8px 8px 9px;
	border-bottom: 1px solid #CCCCCC;
  background-color: #E8E8E8;
  background-repeat: repeat-x;
	background-image: -o-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -moz-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -webkit-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -ms-linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(1, #E8E8E8));
	background-image: linear-gradient(top, #FAFAFA 0%, #E8E8E8 100%);
  -webkit-box-shadow: inset 0 1px 0 #FFF;
  -moz-box-shadow: inset 0 1px 0 #FFF;
  box-shadow: inset 0 1px 0 #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.8);
  cursor: default;
}
#SubPageNavigation .NavigationList,
#SubPageNavigation .NavigationList li { font-size: 12px; }
#SubPageNavigation .NavigationList li { border-bottom: 0; }
#SubPageNavigation .NavigationList li + li { border-top: 1px dotted #D9D9D9; }
#SubPageNavigation .NavigationList li.Current a {
	font-weight: bold; color: #333;
	text-decoration: none; cursor: default;
}
#NewsLikes {
	margin: 18px 0;
}

/* News */

#NewsDate {
	/* Next to path */
	float: right;
	font-size: 11px;
	margin: 0 0 0 6px;
	padding: 0;
	color: #666;
}
.NewsImage {
	display: block;
	width: 352px;
	margin: 0 0 18px;
	text-align: left;
}
.NewsImage img {
	display: block;
}
.NewsImage figcaption {
	color: #666;
	margin: 0; padding: 0;
	font-style: italic;
}

.NewsOverview { font-size: 15px; line-height: 24px; }

/* Account pages
-------------------------------------------------------------- */

#OrderStatus { margin: 18px 0; font-size: 15px; }
#OrderStatus dd+dd { margin-left: -6px; }

#OrderHistoryTable { margin: 18px 0; }

dl#AccountInformation {
	margin: 18px 0; width: 280px; overflow: hidden;
	padding: 0 116px 0 150px;
}
dl#AccountInformation dt,
dl#AccountInformation dd {
	position: relative; float: left;
	margin: 0; padding: 4px 0;
}
dl#AccountInformation dt { margin-left: -150px; width: 150px; clear: left; }
dl#AccountInformation dd { width: 100%; }
dl#AccountInformation dd.AccountLogout,
dl#AccountInformation dd.AccountEdit {
	text-align: right; float: right;
	width: 116px; margin-right: -116px;
}
dl#AccountInformation dd p { margin: 0; }

/* Carts
-------------------------------------------------------------- */

table input,
table button {
	float: none;
	display: block;
}
.CartPrice,
.CartTotal,
.CartShippingCost,
.CartPaymentCost,
.CartProductsTotal {
	white-space: nowrap;
	text-align: right;
}
td.CartTotal {
	font-weight: bold;
}
.CartQuantity {
	text-align: center;
}
.CartQuantity input {
	margin: 0 auto;
	width: 36px;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.CartQuantity .CartRemove {
	display: block;
	font-size: 10px; font-weight: bold;
	line-height: 18px; text-align: center;
	color: #900;
}
table .CartProduct dl { font-size: 11px; font-weight: normal; margin: 0; }
table .ProductName { padding: 0; margin: 0; font-size: 12px; font-weight: bold; }

.CartPic { width: 36px; }
.CartPic a {
	display: block; position: relative;
	text-align: center; background: #FFF;
	width: 34px; height: 34px; line-height: 30px;
	border: 1px solid #d9d9d9;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.CartPic a:hover { border-color: #09f; }
.CartPic a img {
	vertical-align: middle;
	display: inline;
	margin: 0 auto;
}

/* Chekcout
-------------------------------------------------------------- */

#OnePageCheckout {
	padding-left: 33px;
}

#OnePageCheckout h2 {
	font-size: 24px;
	margin: 9px 0;
	line-height: 36px;
}

#CheckoutShippingAddressToggle {
	/* Hide it to be shown with javascript */
	display: none;
}
#CheckoutShippingAddressToggle .Checks {
	/* Let the checkbox come out of the column */
	padding-left: 0;
}
#CheckoutShippingAddress {
	/* Fixes the overflow clipping issue with effects */
	margin-top: -9px; padding-top: 9px;
}

/* Shipping and payment methods */

#CheckoutShippingMethod .Checks,
#CheckoutPaymentMethod .Checks {
	padding-left: 0;
}
#CheckoutShippingMethod .CheckWrap > .label,
#CheckoutPaymentMethod .CheckWrap > .label {
	display: none;
}
.ShippingMethodWrapper,
.PaymentMethodWrapper {
	padding: 0;
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 2px solid #D9D9D9;
	clear: both;
}
.ShippingMethodLogo,
.PaymentMethodLogo {
	float: left;
	margin: 0 5px 5px 0;
}
.ShippingMethodLogo img,
.PaymentMethodLogo img {
	display: block;
}
.ShippingMethodName,
.PaymentMethodName {
	font-weight: bold; font-size: 15px;
	float: left;
}
.ShippingMethodPrice,
.PaymentMethodPrice {
	float: right;
}
.DefineShippingMethod,
.DefinePaymentMethod {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
	background: #ffc;
	border: 1px solid #cc6;
	padding: 9px;
	margin-bottom: 18px;
}
.DefineShippingMethod select, .DefineShippingMethod .CustomSelectWrap,
.DefinePaymentMethod select, .DefineShippingMethod .CustomSelectWrap {
	margin-bottom: 0;
}
